* {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
HTML {
	WIDTH: 100%; HEIGHT: 100%
}
BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND: #f1f1f1; HEIGHT: 100%; COLOR: #333; FONT-SIZE: 10pt; PADDING-TOP: 0px
}
HTML {
	OVERFLOW-X: hidden; OVERFLOW-Y: auto
}
/*Download by http://www.codefans.net*/
BODY {
	OVERFLOW-X: hidden; OVERFLOW-Y: auto
}
.dis {
	DISPLAY: none
}
.block {
	DISPLAY: block
}
IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
BODY#login {
	BACKGROUND: #0065af
}
BODY#index {
	BORDER-LEFT: #0065af 200px solid
}
BODY#page {
	HEIGHT: auto; BORDER-TOP: #0065af 60px solid
}
A {
	COLOR: #0d324f
}
#loginForm INPUT {
	BORDER-BOTTOM: #a5acb2 1px solid; BORDER-LEFT: #a5acb2 1px solid; BACKGROUND: #f4f4f4; HEIGHT: 30px; FONT-SIZE: 24px; OVERFLOW: hidden; BORDER-TOP: #a5acb2 1px solid; BORDER-RIGHT: #a5acb2 1px solid
}
.action {
	COLOR: #ff0000
}
#loginForm INPUT.checkbox {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; HEIGHT: auto; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
#loginForm TEXTAREA {
	BORDER-BOTTOM: #a5acb2 1px solid; BORDER-LEFT: #a5acb2 1px solid; BACKGROUND: #f4f4f4; BORDER-TOP: #a5acb2 1px solid; BORDER-RIGHT: #a5acb2 1px solid
}
SELECT {
	BORDER-BOTTOM: #a5acb2 1px solid; BORDER-LEFT: #a5acb2 1px solid; BACKGROUND: #f4f4f4; BORDER-TOP: #a5acb2 1px solid; BORDER-RIGHT: #a5acb2 1px solid
}
TABLE {
	MARGIN: 8px auto; BORDER-COLLAPSE: collapse
}
TH {
	BORDER-BOTTOM: #ddd 1px dotted; BORDER-LEFT: #ddd 1px dotted; PADDING-BOTTOM: 6px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; BORDER-COLLAPSE: collapse; VERTICAL-ALIGN: middle; BORDER-TOP: #ddd 1px dotted; BORDER-RIGHT: #ddd 1px dotted; PADDING-TOP: 6px
}
TD {
	BORDER-BOTTOM: #ddd 1px dotted; BORDER-LEFT: #ddd 1px dotted; PADDING-BOTTOM: 6px; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; BORDER-COLLAPSE: collapse; VERTICAL-ALIGN: middle; BORDER-TOP: #ddd 1px dotted; BORDER-RIGHT: #ddd 1px dotted; PADDING-TOP: 6px
}
TH {
	BACKGROUND: #dfdfdf
}
TD {
	BACKGROUND: #f1f1f1
}
TABLE TD SPAN {
	COLOR: #999999
}
H1 {
	BORDER-BOTTOM: #fff 3px solid; POSITION: absolute; PADDING-BOTTOM: 16px; PADDING-LEFT: 20px; WIDTH: 1000%; PADDING-RIGHT: 0px; BACKGROUND: #0065af; COLOR: #fff; FONT-SIZE: 12pt; TOP: 0px; PADDING-TOP: 23px; LEFT: 0px
}
.title {
	BORDER-BOTTOM: #d0d0d0 3px solid; LINE-HEIGHT: 36px; PADDING-LEFT: 20px; BACKGROUND: url(h2Bg.gif) repeat-x left top; COLOR: #333; FONT-SIZE: 12px
}
#loginForm {
	BORDER-BOTTOM: #999 3px solid; POSITION: absolute; BORDER-LEFT: #999 3px solid; MARGIN: -150px 0px 0px -200px; WIDTH: 400px; BACKGROUND: #fff; HEIGHT: 300px; BORDER-TOP: #999 3px solid; TOP: 50%; BORDER-RIGHT: #999 3px solid; LEFT: 50%
}
#loginForm H3 {
	PADDING-BOTTOM: 8px; MARGIN: 0px 0px 30px; PADDING-LEFT: 20px; PADDING-RIGHT: 0px; BACKGROUND: #000; COLOR: #fff; PADDING-TOP: 14px
}
#loginForm LABEL {
	PADDING-BOTTOM: 8px; PADDING-LEFT: 40px; PADDING-RIGHT: 40px; DISPLAY: block; PADDING-TOP: 8px
}
#loginForm LABEL SPAN {
	POSITION: absolute; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-TOP: 8px
}
#loginForm LABEL .input {
	MARGIN: 0px 0px 0px 70px; WIDTH: 200px
}
#loginForm LABEL .input2 {
	MARGIN: 0px 0px 0px 70px; WIDTH: 100px
}
#loginForm #submit {
	MARGIN-TOP: 10px; PADDING-LEFT: 110px
}
#loginForm .bt {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; WIDTH: 87px; HEIGHT: 35px; BORDER-TOP: 0px; CURSOR: pointer; BORDER-RIGHT: 0px
}
#registerForm {
	MARGIN: 0px auto; WIDTH: 800px
}
#siteCopyRight {
	POSITION: absolute; TEXT-ALIGN: center; MARGIN: 160px 0px 0px -100px; WIDTH: 200px; DISPLAY: block; COLOR: #ffffff; TOP: 50%; LEFT: 50%
}
#nav {
	POSITION: absolute; TOP: 60px; LEFT: 0px
}
#nav LI A {
	BORDER-BOTTOM: #d0d0d0 3px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; WIDTH: 180px; PADDING-RIGHT: 10px; DISPLAY: block; BACKGROUND: #dfdfdf; COLOR: #333; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 10px
}
#nav LI A:hover {
	BACKGROUND: #ff9834; COLOR: #fff; BORDER-RIGHT: #e87200 3px solid
}
#nav LI DL DT A {
	BACKGROUND: #585858; COLOR: #ffffff
}
#nav LI DL DT A:hover {
	BACKGROUND: #666; COLOR: #e87200
}
#nav H2 {
	BORDER-BOTTOM: #d0d0d0 3px solid; PADDING-BOTTOM: 8px; PADDING-LEFT: 20px; WIDTH: 180px; PADDING-RIGHT: 0px; BACKGROUND: url(h2Bg.gif) repeat-x left top; COLOR: #333333; FONT-SIZE: 12pt; PADDING-TOP: 10px; LEFT: 0px
}
#userInfo {
	POSITION: absolute; TEXT-ALIGN: right; WIDTH: 100%; COLOR: #fff; TOP: 38px; RIGHT: 20px
}
#userInfo A {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#userInfo A:visited {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#fr {
	BORDER-LEFT: #dfdfdf 3px solid; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#pageFlip {
	TEXT-ALIGN: center; PADDING-BOTTOM: 6px; MARGIN: 3px auto; PADDING-LEFT: 6px; PADDING-RIGHT: 6px; BACKGROUND: #efefef; FLOAT: none; CLEAR: both; FONT-WEIGHT: bold; PADDING-TOP: 6px
}
.blockList LI {
	LIST-STYLE-TYPE: none; DISPLAY: inline; LIST-STYLE-IMAGE: none
}
.blockList LI A {
	BORDER-BOTTOM: #ccc 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 18px; MARGIN: 10px; PADDING-LEFT: 18px; WIDTH: 200px; PADDING-RIGHT: 18px; DISPLAY: block; BACKGROUND: #efefef; FLOAT: left; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 18px
}
.blockList LI A:hover {
	BACKGROUND: #ccc
}
.counts SPAN {
	FONT-WEIGHT: bold
}
.skin {
	PADDING-LEFT: 50px
}
.skin UL LI {
	LINE-HEIGHT: 30px; LIST-STYLE-TYPE: none
}
